<div class='header'> <b>
  <div class="container">
<div class="logo">
  <a href="{{ site.baseurl }}" style="text-align: center; padding-top:1vw; margin-left:6vw; padding-right:5vw; text-decoration : none;" > <h1>IB <span style="color:black;">Lab</span></h1> </a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}" style="text-align: center; padding-top:1vw; margin-left:6vw; padding-right:5vw; text-decoration : none;" > <h1>IB <span style="color:black;">Lab</span></h1> </a>
    </div>

    {% include main-menu.html %}

    {% include hamburger.html %}
  </div>
  </b>
</div>
